.fb {
  background-color: blue;
  color: white;
  overflow: hidden;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;

}


.google {
  background-color: red;
  color: white;
  overflow: hidden;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 5px;
  margin-left: 75px;
}

.lable {
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 40px;
  color: black;
  font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="password"] {

  margin-left: 10px;
  width: 50%;
}

select {
  margin-left: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../image/cce.jpg");
}




form {

  margin: 20px 500px 10px 500px;
  border: 2px solid black;


}

.div {
  border: 3px solid gray;


}

h2 {
  font-family: sans-serif;

  margin-left: 5px;
  color: black;
}

.signup {
  background-color: #20B2AA;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  text-decoration: none;
}

.link {
  color: black;
  font-weight: bold;
}

.select {

  margin-left: 10px;
  width: 50%;
}