* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.background {
  width: 100%;
  margin: auto;
}

.slid-background {
  display: flex;
  width: 100%;
  border: 5px solid black;
}

.wrapper {
  position: relative;
}

.clearfix {
  overflow: auto;
}

header {
  background: linear-gradient(to right, #d4bfbf, #000000);
  height: 190px;
}

header .logo {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.navbar {
  background: linear-gradient(to right, #000000, #d8cbcb);
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 9999;

}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 0 18px;
  text-decoration: none;
  line-height: 60px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 0 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  line-height: 60px;
}

.navbar a:hover,
.dropdown:hover .dropbutton {
  background-color: #139bb0;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #139bb0;
  opacity: .8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropContent a {
  float: none;
  color: white;
  padding: 0 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropContent a:hover {
  background-color: #176482;
}

.dropdown:hover .dropContent {
  display: block;
}

.register a {
  float: right
}

.login a {
  float: right;
  color: #000000;
}

.log {

  margin-top: 0px;
  float: right;
  margin-left: 10px;

}

footer {
  background: linear-gradient(to right, #000000, #dcd6d6);
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
}

footer .footer-colom {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  border-top: 1px solid white;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 30px
}

footer .footer-colom h3 {
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 30px;
  color: #ebebeb;
  font-family: Merienda;
}

footer .tweet {
  color: #ebebeb;
  font-size: 16px;
  margin-bottom: 15px;

}

footer .tweet li a {
  text-decoration: none;
  color: #ebebeb;
}

footer .tweet li {
  list-style: none;
  margin-bottom: 5px;
}

footer .tweet-contact {
  margin-bottom: 15px;
}

footer .tweet-contact p {
  color: #ebebeb;
  font-size: 16px;
}

.socialmedia {
  text-align: left;
  margin-left: -40px;

}

.socialmedia ul {
  list-style: none
}

.socialmedia ul li {
  display: inline;


}

.socialmedia ul li a {
  display: inline-block;
  border-radius: 60%;
  line-height: 0;
  padding: 1px;
}

.socialmedia ul li a:hover {
  background: #139bb0;
}

.copyright {
  background: linear-gradient(to right, #ffffff, #000000);
  padding-bottom: 20px;
}

div.left {
  margin-top: 20px;
  float: left;
  margin-left: 15px;
  color: #000000;
}

div.right {
  margin-top: 20px;
  float: right;
  margin-right: 15px;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 3px 20px rgba(0, 0, 0, 0.35);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}


/*Our Service*/

.head-intro h1 {
  color: #3c5453;
  margin: 50px 0 20px 0;
  text-align: center;
  font-size: 60px;
  font-family: Georgia;

}

.introduction-container {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #7e7e7ecc, #000000c5);
}

.intro-colom {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  margin: 10px;

}

.colom-part {
  display: flex;
  align-items: center;
  margin: 35px;
}

.colom-part h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.colom-part p {
  color: #ffffff;
}

.colom-img {

  margin-right: 15px;
  background: #e8eaeb;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.35);
  padding: 8px;
  border-radius: 10px;
}



/*team section*/

.team {
  width: 100%;
  height: 120vh;
  background: url("../image/slide3.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-attachment: fixed;
}

.head-title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.head-title h1 {
  font-size: 3.5rem;
  color: #e07e1dc3;
  font-family: sans-serif;
  font-weight: 600;
}

.head-title p {
  font-size: 1.5rem;
  color: #fff;
}

.team-three {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.team-sec {
  width: 100%;
  margin: 0 10px;
  background: #fff;
  text-align: center;
}

.team-sec img {
  width: 100%;
}

.team-text {
  width: 100%;
  background: #fff;
}

.team-text:hover {
  background: #e75b1e;
  color: #fff;
  transition: 1s;
}

.team-text h1 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 500;
}

.team-text p {
  text-align: justify;
  padding: 0 20px;
  text-align: center;

}

.team-text a {
  text-decoration: none;
}

.text-text a i {
  font-size: 1.5rem;
  padding: 10px;
  color: #000;
}

i:hover {
  border: 1px solid #fff;
  color: #fff;
  transition: 1s;
  border-radius: 100%;
}


/*About us*/


.introduction-container {
  background-color: #000000;
}


/*weddingstyles*/

.gallery{
	margin:10px 20px;
	
}
.gallery img{
	transition:1s;
	padding:15px;
	width:200px;	
}
.gallery img hover{
	filter:grayscale(100%);
	transform:scale(1.1);
}






/*Register*/

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 1px;
  margin-left: 75px;
}

.lable1 {
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 200px;
  color: black;
  font-weight: bold;

}

.lable2 {
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 40px;
  color: black;
  font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="password"] {

  margin-left: 150px;
  width: 50%;
}

select {
  margin-left: 150px;
  width: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../image/cc.jpg");
}

#myformc {

  margin: 10px 400px 10px 100px;
  border: 2px solid black;
  padding-bottom: 10px;
}



#myformv {
  margin-right: -170px;
  margin-left: -400px;
  border: 2px solid black;
  padding-bottom: 10px;
}


.customer {
  font-family: sans-serif;
  font-size: 25px;

  color: black;
  text-align: center;
}

.vendor {
  font-family: sans-serif;
  font-size: 25px;

  color: black;
  text-align: center;
}

#checkC {
  margin-left: 150px;
}

#checkV {
  margin-left: 150px;
}

#btnsignup1 {
  background-color: #20B2AA;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 200px;

}

#btnsignup2 {
  background-color: #20B2AA;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 200px;

}

#btncancel1 {
  background-color: red;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 20px;

}

#btncancel2 {
  background-color: red;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: 20px;

}

.buttons:after {
  content: "";
  clear: both;
  display: table;
}

td.col1 {
  text-align: left;
  width: 700px;
}

td.col2 {
  text-align: right;
  width: 1000px;
}

h2 {
  text-align: center;
  color: #20B2AA;
}